config/mpv/watch_later/
config/qtile/__pycache__
config/qutebrowser/bookmarks/
config/qutebrowser/greasemonkey/
config/qutebrowser/qsettings/
config/qutebrowser/quickmarks
config/qutebrowser/colors.yml
config/alacritty/colors.yml
config/hypr/colors.conf
config/hypr/hyprpaper.conf
config/rofi/colors.rasi
config/waybar/colors.css
aur/*
